form{
	width: 450px;
	margin: 12% auto 0;
}
.login-header {
    position: relative;
    width: 416px;
    min-height: 35px;
    padding: 8px 15px;
    border: 1px solid #438EB9;
    border-radius: 10px;
    background-color: #438EB9;
    background-image: url(../../../../../resources/img/student_page/login/login.png);
    background-repeat: no-repeat;
    color: #669fc7;
    box-shadow: 6px 8px 10px -5px #000;
}
.loginAll{
    position: relative;
    top: -10px;
    width: 416px;
    min-height: 175px;
    padding: 5px 15px;
    color: #669fc7;
    border: 1px solid #438EB9;
    background-color: #FFF;
    box-shadow: 6px 8px 10px -5px #000;
}
.login-content{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.login-content label{
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    color: #858585;
    text-align: right;
    overflow: hidden;
}
.login-content input{
    padding: 6px 3px;
    margin-top: 9px;
    margin-left: 60px;
    font-family: inherit;
    border: 1px solid #d5d5d5;
    color: #858585;
    background-color: #fff;
    width: 82%;
}
.button input{
    margin-left: 15%;
    color: #FFF;
    width: 20%;
}
.btn{
    display: inline-block;
    min-width: 60px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    background-color: #6fb3e0 !important;
    white-space: nowrap;
    cursor: pointer;
}