.sucTotal{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    min-height: 600px;
    margin-left: 190px;
}
.sucLogin{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-left: 320px;
    margin-top: 130px;
    min-height: 600px;
    width: 700px;
}
.sucLogin h1{
    font-size: 28px;
}
.sucLogin p{
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
}
.sucLogin a{
    display: inline-block;
    color: #393939;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
}
